:root {
	--clr-background: #21212b;
	--clr-accent: #edae61;
	--clr-main-lighter: #30303b;
	--clr-main: #282833;
	--clr-main-darker: #22222b;
	--clr-greyish: #a2abbd;
	--clr-white: #fff;
	--clr-shadow: #14141a;
	--clr-border: #42424c;
	--clr-border-lighter: #4d505c;

	--fs-small: 22px;
	--fs-large: 44px;
}

* {
	box-sizing: border-box;
}

body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
