.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-background);
}

.radio {
  width: 640px;
  height: 1005px;
  border-radius: 45px;
  box-shadow: 0px 60px 60px -50px var(--clr-shadow);
  overflow: hidden;
  background: linear-gradient(var(--clr-main-lighter), var(--clr-main));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.radioList {
  margin: 20px 40px 0px;
  overflow-y: scroll;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.radioList::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
